<div class="container">
  <div class="login-box">
  <h2>The Boys Test</h2>
  <h2>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
  </h2>
  <p class="text-block">
  <div class="user-box" align="center"><%= button_to 'Welcome to the City 17', '/welcome', method: :get, class: "button-92" %></div>
  <h2> </h2>
    <% unless user_signed_in? %>
    <div class="user-box" align="center"><%=  button_to 'Login', '/users/sign_in', method: :get, class: "button-92"  %></div>
    <%  end %>

      </div>
</div>
