<div class="container">
<div class="login-box">
  <h2>Main Page</h2>
  <p class="text-block">
  <div class="user-box"><%= button_to 'Tests', '/tests', method: :get, class: "button-92" %></div>
  </div>
</div>
