<form action="/tests" method="post" class="w-full max-w-md mx-auto p-6 bg-white rounded-md shadow-md">
  <div class="mb-4" style="margin-left: 10px">
    <label for="test_name" class="block text-sm font-medium text-white">Name*</label>
    <input type="text" id="test_name" name="test[name]" placeholder="Name" class="form-input mt-1 block w-full rounded-md transition duration-150 ease-in-out sm:text-sm sm:leading-5">
  </div>

  <div class="mb-4" style="margin-left: 10px">
    <label for="code_word" class="block text-sm font-medium text-white">Password</label>
    <input type="text" id="code_word" name="test[code_word]" placeholder="Password" class="form-input mt-1 block w-full rounded-md transition duration-150 ease-in-out sm:text-sm sm:leading-5">
  </div>

  <div class="mb-4" style="margin-left: 10px">
    <label for="description" class="block text-sm font-medium text-white">Description*</label>
    <textarea id="description" name="test[description]" placeholder="Description" class="form-input mt-1 block w-full rounded-md transition duration-150 ease-in-out sm:text-sm sm:leading-5"></textarea>
  </div>

  <div class="mb-4" style="margin-left: 10px">
    <label for="genre_id" class="block text-sm font-medium text-white">Genre*</label>
    <select id="genre_id" name="test[genre_id]" class="form-select mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:shadow-outline-blue focus:border-blue-300 transition duration-150 ease-in-out sm:text-sm sm:leading-5">
      <option value="" selected disabled>Choose genre</option>
      <% @genres.each do |genre| %>
        <option value="<%= genre.id %>"><%= genre.name %></option>
      <% end %>
    </select>
  </div>

  <div id="questions-container">
    <!-- Вопросы и ответы будут добавлены здесь динамически через JavaScript -->
  </div>

  <button type="button" id="add-question" class="bg-blue-500 text-white py-2 px-4 rounded-md mb-4">Add Question</button>

  <!-- Кнопка создания теста и записи в базу данных -->
  <input type="submit" value="Create Test" class="bg-indigo-500 hover:bg-indigo-700 text-white font-bold py-2 px-4 rounded-md">
</form>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const questionsContainer = document.getElementById('questions-container');
    const addQuestionButton = document.getElementById('add-question');

    // Добавление первого вопроса при загрузке страницы
    addInitialQuestion();

    addQuestionButton.addEventListener('click', function () {
      addQuestion();
    });

    window.removeQuestion = function (index) {
      const questionElement = document.getElementById(`question-${index}`);
      if (questionElement) {
        questionElement.remove();
      }
    };

    window.addAnswer = function (questionIndex) {
      const answersContainer = document.getElementById(`answers-${questionIndex}`);
      if (answersContainer) {
        const answerIndex = new Date().getTime();
        const answerFields = `
          <div class="flex items-center mb-2">
            <input type="radio" name="test[questions_attributes][${questionIndex}][correct_answer_index]" value="0" class="mr-2">
            <input type="text" name="test[questions_attributes][${questionIndex}][answers_attributes][${answerIndex}][content]" class="form-input mt-1 block w-full rounded-md transition duration-150 ease-in-out sm:text-sm sm:leading-5 mb-2">
            <button type="button" class="bg-red-500 text-white py-1 px-2 rounded-md ml-2" onclick="removeAnswer(${questionIndex}, ${answerIndex})">×</button>
          </div>
        `;

        answersContainer.insertAdjacentHTML('beforeend', answerFields);
      }
    };

    window.removeAnswer = function (questionIndex, answerIndex) {
      const answerElement = document.querySelector(`[name="test[questions_attributes][${questionIndex}][answers_attributes][${answerIndex}][content]"]`);
      if (answerElement) {
        answerElement.parentNode.remove();
      }
    };

    // Функция для добавления первого вопроса при загрузке страницы
    function addInitialQuestion() {
      const questionIndex = new Date().getTime();
      const questionFields = `
        <div class="mb-4" id="question-${questionIndex}">
          <div style = "margin-left: 10px">
            <label class="block text-sm font-medium text-white mb-1">Question*</label>
          </div>
          <div class="flex items-center mb-2" style = "margin-left: 10px">
            <input type="text" name="test[questions_attributes][${questionIndex}][content]" class="form-input mt-1 block w-full rounded-md transition duration-150 ease-in-out sm:text-sm sm:leading-5 mb-2">
          </div>
          
          <div style = "margin-left: 10px">
            <label class="block text-sm font-medium text-white mb-1">Answers*</label>
          </div>
          <div class="mb-2" id="answers-${questionIndex}">
            <!-- Динамически добавленные поля ответов будут здесь -->
            <div class="flex items-center mb-2">
              <input type="radio" name="test[questions_attributes][${questionIndex}][correct_answer_index]" value="1" class="mr-2">
              <input type="text" name="test[questions_attributes][${questionIndex}][answers_attributes][0][content]" class="form-input mt-1 block w-full rounded-md transition duration-150 ease-in-out sm:text-sm sm:leading-5 mb-2">
            </div>
            <div class="flex items-center mb-2">
              <input type="radio" name="test[questions_attributes][${questionIndex}][correct_answer_index]" value="0" class="mr-2">
              <input type="text" name="test[questions_attributes][${questionIndex}][answers_attributes][1][content]" class="form-input mt-1 block w-full rounded-md transition duration-150 ease-in-out sm:text-sm sm:leading-5 mb-2">
            </div>
          </div>
          
          <button type="button" class="bg-blue-500 text-white py-2 px-4 rounded-md mb-2" onclick="addAnswer(${questionIndex})">Add Answer</button>
        </div>
      `;

      questionsContainer.insertAdjacentHTML('beforeend', questionFields);
    }

    // Функция для добавления нового вопроса
    function addQuestion() {
      const questionIndex = new Date().getTime();
      const questionFields = `
        <div class="mb-4" id="question-${questionIndex}">
          <div style = "margin-left: 10px">
            <label class="block text-sm font-medium text-white mb-1">Question*</label>
          </div>
          <div class="flex items-center mb-2" style = "margin-left: 10px">
            <input type="text" name="test[questions_attributes][${questionIndex}][content]" class="form-input mt-1 block w-full rounded-md transition duration-150 ease-in-out sm:text-sm sm:leading-5 mb-2">
            <button type="button" class="bg-red-500 text-white py-1 px-2 rounded-md ml-2" onclick="removeQuestion(${questionIndex})">×</button>
          </div>
          
          <div style = "margin-left: 10px">
            <label class="block text-sm font-medium text-white mb-1">Answers*</label>
          </div>
          <div class="mb-2" id="answers-${questionIndex}">
            <!-- Динамически добавленные поля ответов будут здесь -->
            <div class="flex items-center mb-2">
              <input type="radio" name="test[questions_attributes][${questionIndex}][correct_answer_index]" value="1" class="mr-2">
              <input type="text" name="test[questions_attributes][${questionIndex}][answers_attributes][0][content]" class="form-input mt-1 block w-full rounded-md transition duration-150 ease-in-out sm:text-sm sm:leading-5 mb-2">
            </div>
            <div class="flex items-center mb-2">
              <input type="radio" name="test[questions_attributes][${questionIndex}][correct_answer_index]" value="0" class="mr-2">
              <input type="text" name="test[questions_attributes][${questionIndex}][answers_attributes][1][content]" class="form-input mt-1 block w-full rounded-md transition duration-150 ease-in-out sm:text-sm sm:leading-5 mb-2">
            </div>
          </div>
          
          <button type="button" class="bg-blue-500 text-white py-2 px-4 rounded-md mb-2" onclick="addAnswer(${questionIndex})">Add Answer</button>
        </div>
      `;

      questionsContainer.insertAdjacentHTML('beforeend', questionFields);
    }
  });
</script>