<body>
    <div class="flex items-center justify-center min-h-screen">
        <div class="w-full max-w-md p-6 bg-white rounded-md shadow-md mx-auto flex-col">
            <h1 class="text-3xl font-bold mb-4 text-white text-center">Create a New Test</h1>
            <%= render 'form', test: @test %>
        </div>
    </div>
</body>